.flip-card {
    width: 414px;
    height: 172px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative ;
    width: 414px;
    height: 172px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 50px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
}


.container {
    width: 414px;
    height: 172px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 50px;

}



.container, .container2 {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}



.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 14px;    
}

.nav-item {
    margin-right: 5.03px;
    margin-top: 12px;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar img {
    width: 24px;
    height: 24px;
    margin-left: 23.5px;
}

.header h1 {
    font-family: "DM Sans", sans-serif;
    margin-left: 24px;
}

.container2 {
    width: 414px;
    height: 172px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 50px;
    background-color: black;
    transform: rotateY(180deg);
}

/*.container2:hover{
    box-shadow: rgba(100, 100, 111, 0.5) 0px 14px 58px 0px;
}*/

.nav-list2 {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 14px;    
}

.nav-item2 {
    margin-right: 5.03px;
    margin-top: 12px;
}

.nav-item2:first-child {
    margin-right: auto;
    margin-left: 0;
}

.nav-bar2 {
    display: flex;
    align-items: center;
}

.nav-bar2 img {
    width: 24px;
    height: 24px;
    margin-left: 23.5px;
}

.header2 h1 {
    font-family: "DM Sans", sans-serif;
    color: white;
    margin-left: 24px;
}

